



.App {
    width: 65%;
    align-self: center;
    border: 5px solid lightblue;
    background-color: bisque;
}


.task-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0 5vw 20px 5vw;
    margin: 2% 0 0 0;
}


.task {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #8B4513;
    background-color: #F5F5DC;
    border: 5px solid #DAA520;
    border-radius: 14px;
    padding: 1%;
    margin: 0 0 2% 0;
    width: 100%; /* Полная ширина */
    box-sizing: border-box;
}

.num {
    margin: 0 1% 0 0;
}

.todo-form {
    display: flex;
    align-items: center;
    margin-bottom: 15pt;
    width: 100%;
}

.todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16pt;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 70%;
}

.todo-button {
    padding: 10px 20px;
    font-size: 12pt;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-button:hover {
    background-color: #218838;
}

.block-title {
    margin: 2% 0 2% 0;
}

.in-progress {
    color: #8B4513;
    background-color: #F5F5DC;
    border: 5px solid #DAA520;
}

.completed {
    color: #4E4E4E;
    background-color: #D9EAD3;
    border: 5px solid #8DC29E ;
}

.canceled {
    color: black;
    background-color: #f0f0f0;
    border: 6px solid #ccc;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между элементами */
    margin-left: auto;
}

.complete-button,
.cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-button {
    background-color: #28a745;
    color: white;
}

.complete-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
}

.cancel-button:hover {
    background-color: #c82333;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.selected-action-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между кнопками */
}

.complete-selected-button,
.cancel-selected-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-selected-button {
    background-color: #007bff;
    color: white;
    width: 50%;
}

.complete-selected-button:hover {
    background-color: #0056b3;
}

.cancel-selected-button {
    background-color: #ffc107;
    color: black;
    width: 50%;
}

.cancel-selected-button:hover {
    background-color: #e0a800;
}

.todo-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}